.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: var(--bg-color-2);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  & ul {
    display: flex;
    list-style: none;
    margin-left: auto;
  }

  & li {
    text-decoration: none;
    margin: 0 10px;

    &.icon {
      & a {
        cursor: pointer;
        color: var(--text-white);
        display: flex;
        align-items: center;

        transition: color 0.25s;
        &:hover {
          color: var(--purple);
        }
      }
    }
  }
}

.header-title {
  margin: 0;
}

.footer {
  background-color: var(--bg-color-2);
  text-align: left;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-height: 680px) {
    display: none;
  }

  @media (max-width: 480px) and (max-height: 740px) {
    display: none;
  }
}
