.sampleExplorer {
  font-size: small;
  border-radius: 8px 0 0 8px;
  border-right: 1px solid var(--fg-dark);

  & .icon {
    cursor: pointer;
    background-color: var(--bg-colour);
  }

  & .sampleExplorer-list {
    height: 100%;
    overflow-y: scroll;
    flex: 1 1 auto;
  }
}

.scrollbarThin {
  scrollbar-width: thin;
}

.listItem {
  border-top: 1px solid var(--fg-dark);
  display: flex;
  align-items: stretch;
  transition: background-color 0.15s;
  touch-action: manipulation;

  & div {
    overflow-x: scroll;
    white-space: nowrap;
  }

  &:last-child {
    border-bottom: 1px solid var(--fg-dark);
  }

  &.selected {
    background-color: var(--orange);
  }
}

.headerBox {
  border-bottom: 1px solid var(--fg-dark);
  flex: 0 1 auto;
}

.interaction {
  cursor: pointer;
  transition: color 0.25s;
  color: var(--text-white);
  &:hover {
    color: var(--orange);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background-color: transparent;
}
