.parameterPanel {
  border: 1px solid var(--orange);
  height: 150px;
  border-radius: 8px;

  & .label {
    height: 1.5em;
    padding-left: 0.5em;
    text-align: left;
    width: 6em;
    border: none;
  }

  & label {
    font-size: small;
  }

  & .sampleDropZone {
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: tan;
    opacity: 0.6;
  }
}
