#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1 1 auto;
  padding: 0.5em;
}

.soundControl {
  margin: 1em;
  min-width: 200px;
}
