@import url('https://fonts.cdnfonts.com/css/avenir');

:root {
  /* Colours */
  --text-white: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --bg-color-2: #1a1a1a;
  --fg-dark: #1a1a1a;
  --fg-light: #5a5a5a;
  --purple: #646cff;
  --orange: #da571a;

  font-family: Avenir, Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

button {
  color: var(--text-white);
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--fg-dark);
  cursor: pointer;
  transition: border-color 0.25s;

  &.hover:hover {
    border-color: var(--purple);
  }
}
